___
# Ciência dos Dados - PROJETO 1

## Milena Maluli

## Segurança Alimentar no Brasil

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

http://g1.globo.com/bemestar/noticia/2014/12/72-milhoes-sofrem-com-inseguranca-alimentar-grave-no-pais-diz-pnad-2013.html

___
## Análise e Resultados

In [12]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [13]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\milen\OneDrive\Documentos\2o SEMESTRE\CDD

In [14]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2009.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
dados=pd.read_csv('DOM2009csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [16]:
dados.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V2136,V2033,V2034,V2035,V2036,V2037,V2038,V2039,V2041,V9992
0,0,2009,11,15,1,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20120710
1,1,2009,11,15,2,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20120710
2,2,2009,11,15,3,1,7.0,5.0,1.0,2.0,...,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,20120710
3,3,2009,11,15,4,1,3.0,3.0,1.0,2.0,...,NaN,3.0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,20120710
4,4,2009,11,15,5,1,1.0,1.0,1.0,2.0,...,NaN,3.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,20120710

In [46]:
dados.V4620 = dados.V4620.astype('float')

dados.V0202 = dados.V0202.astype('category')

dados.V0203 = dados.V0203.astype('category')

dados.V0221 = dados.V0221.astype('category')

dados.V0207 = dados.V0207.astype('category')

dados.V2105 = dados.V2105.astype('category')

dados.V0228 = dados.V0228.astype('category')

In [47]:

dados.V0202.cat.categories = (['Casa', 'Ap','Dom'])
dados.V0203.cat.categories = (['Alven', 'Mad Aparelhada', 'Taipa','Mad Aproveitada','Palha','Outro Material'])
dados.V0221.cat.categories = (['Sim', 'Nao'])
dados.V0207.cat.categories = (['Próprio PAGO', 'Próprio', 'Alugado','Cedido por empregador','Cedido','Outro'])
dados.V2105.cat.categories = (['Sim', 'Não'])
dados.V0228.cat.categories = (['Sim, 2portas', 'Sim, 1porta','Não'])

In [48]:
d= dados.loc[:,["V4620","V0202","V0203","V0221","V0207","V2105","V0228"]]

In [49]:
d.columns = ['RENDA', 'TIPO','MATERIAL','ÁGUA CANALIZADA','OCUPAÇÃO','FALTA AL POR $', 'GELADEIRA']
d.head()

,RENDA,TIPO,MATERIAL,ÁGUA CANALIZADA,OCUPAÇÃO,FALTA AL POR $,GELADEIRA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.0,Casa,Mad Aproveitada,Sim,Próprio PAGO,Sim,"Sim, 1porta"
3,3.0,Casa,Alven,Sim,Próprio PAGO,Não,"Sim, 2portas"
4,1.0,Casa,Alven,Sim,Próprio PAGO,Não,"Sim, 1porta"

___
## Conclusão

Descreva aqui suas conclusões!